<div>
    <input type="text" id="userInput" placeholder="Your Name" />
    <button id="joinChat" type="button">Kanal'a Katılabilirsin</button>
</div>

<div>
    <input type="text" id="user2Input" placeholder="Friend Name" />
</div>


<div style="margin-top: 20px;">
    <input type="text" id="messageInput" placeholder="Type your message" />
    <button id="sendMessage" type="button">Mesaj Gönderebilirsin</button>
</div>

<div style="margin-top: 20px;">
    <ul id="messagesList">
    </ul>
</div>

<script src="~/lib/microsoft-signalr/signalr.min.js"></script>
<script>
    var connection = new signalR.HubConnectionBuilder().withUrl("https://localhost:7121/chat").build();

    connection.on("ReceiveMessage", function (user, message) {
        var encodedMessage = user + " söyledi: " + message;
        var li = document.createElement("li");
        li.textContent = encodedMessage;
        $("#messagesList").appendChild(li);
    });

    connection.start().catch(function (err) {
        return console.error(err.toString());
    });

    $("#joinChat").click(function () {
        joinChat();
    });

    $("#sendMessage").click(function () {
        sendMessage();

    });

    function joinChat() {
        var user = $("#userInput").val();
        var user2 = $("#user2Input").val();
        connection.invoke("JoinPrivateChat", user,user2);
    }

    function sendMessage() {
        var user = $("#userInput").val();
        var user2 = $("#user2Input").val();
        var message = $("#messageInput").val();
        connection.invoke("SendMessageToPrivateChat", user, user2,message);
        $("messagesList").append(
            `<li>${user}:${message}</li>`);
    }
</script>